<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VaccineCardTEST.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>8</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>271F4DC46B77CA2DF8CC3300EE922B4418F1727E</string>
				<key>dateExpires</key>
				<string>2021-12-10</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>TCH45SXZ69.io.freshworks.VaxCheck</string>
				<key>com.apple.developer.team-identifier</key>
				<string>TCH45SXZ69</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>TCH45SXZ69.io.freshworks.VaxCheck</string>
				</array>
			</dict>
			<key>name</key>
			<string>VaccineCardTEST.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>925eedf9-7127-4f6b-bf61-e3ede9a227b0</string>
				<key>dateExpires</key>
				<string>2022-09-02</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: io.freshworks.VaxCheck</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>TCH45SXZ69</string>
				<key>name</key>
				<string>Freshworks Studio Inc.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.1</string>
		</dict>
	</array>
</dict>
</plist>
